<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Services || <%= name %>
    </title>
    <script src="https://kit.fontawesome.com/c1b3701aff.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="css//services.css">
</head>

<body>
    <section id="service_head">
        <div class="heading">
            <%= name %>
        </div>
        <div class="sub-heading">
            <%= content %>
        </div>
        <div class="overlay"></div>
        <div class="bg-image">
            <img src="images/<%= name %>.png" alt="" srcset="">
        </div>
        <button class="know_more" type="submit" onclick="goTo('<%= name %>')">Know More</button>
    </section>

    <section id="skills">
        <% if(s_name.length !=0) { %>
            <div class="course_head skill_head"><span>Skill</span>Set</div>
            <div class="skill_names">
                <div class="skill_part">
                    <% for(var i=0;i<s_name.length;i++){ %>
                        <p class="skill_name">
                            <%= s_name[i].name %>
                        </p>
                        <div class="skill-bar">
                            <div class="skill-per" per="<%= s_name[i].range %>"
                                style="--i:<%= s_name[i].range %>%;"></div>
                        </div>
                        <% } %>
                </div>
            </div>
            <% } %>
    </section>

    <section id="courses">
        <% if(c_name.length !=0) { %>
            <div class="course_head"><span>Courses</span> Completed</div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <p>Course Name</p>
                        </th>
                        <th>
                            <pre>Completion Date</pre>
                        </th>
                        <th>
                            <p>Company Name</p>
                        </th>
                    </tr>
                </thead>
                <% for(var i=0;i<c_name.length;i++){ %>
                    <tr>
                        <td>
                            <p>
                                <%= c_name[i].name %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= c_name[i].completion_date %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= c_name[i].company %>
                            </p>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <% } %>
    </section>
    <section id="projects">
        <% if(p_name.length !=0) { %>
            <div class="course_head"><span>Projects</span> Completed</div>
            <table cellpadding="15">
                <thead>
                    <tr>
                        <th>
                            <p>Project Name</p>
                        </th>
                        <th>
                            <pre>Completion Date</pre>
                        </th>
                        <th>
                            <p>Description</p>
                        </th>
                        <th>
                            <p>Github Link</p>
                        </th>
                    </tr>
                </thead>
                <% for(var i=0;i<p_name.length;i++){ %>
                    <tr>
                        <td>
                            <p>
                                <%= p_name[i].name %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= p_name[i].date %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= p_name[i].description %>
                            </p>
                        </td>
                        <td>
                            <p><a href="<%= p_name[i].github_link %>">
                                    <%= p_name[i].github_link %>
                                </a></p>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <% } %>
    </section>
    
    <% if(name == "Competitive Coder"){ %>
        <section id="leetcodeSection">
            <div class="leetcode">
                <h2><span>LeetCode</span> Profile</h2>
                <div class="lt-wrapper">
                    <div class="lt-item lt-username">
                        <p>User</p>
                        <h4><%= lUsername %></h4>
                    </div>
                    <div class="lt-item lt-easy">
                        <p>Easy</p>
                        <h3><%= easy %></h3>
                    </div>
                    <div class="lt-item lt-medium">
                        <p>Medium</p>
                        <h3><%= med %></h3>
                    </div>
                    <div class="lt-item lt-hard">
                        <p>Hard</p>
                        <h3><%= hd %></h3>
                    </div>
                </div>
                <h2>Recent</h2>
                <table cellpadding="15">
                    <thead>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Language</th>
                    </thead>
                    <tbody>
                        <% for(var i=0;i<lRecent.length;i++){ %>
                            <tr>
                                <td><%= lRecent[i].title %></td>
                                <td><%= lRecent[i].statusDisplay %></td>
                                <td><%= lRecent[i].lang %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    <% } %>
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/services.js"></script>
</body>

</html>